/**
 * Copyright © 2016-2018 dujoy.cn
 */
$previewSize: 100px;

.tb-file-select-container {
  position: relative;
  height: $previewSize;
  width: 100%;
}

.tb-file-preview {
  max-width: $previewSize;
  max-height: $previewSize;
  width: auto;
  height: auto;
}

.tb-file-clear-container {
  width: 48px;
  height: $previewSize;
  position: relative;
  float: right;
}
.tb-file-clear-btn {
  position: absolute !important;
  top: 50%;
  transform: translate(0%,-50%) !important;
}
