/**
 * Copyright © 2016-2018 dujoy.cn
 */
@import '../../../scss/constants';

$md-light: rgba(255, 255, 255, 100%);
$md-edit-icon-fill: #757575;

md-toolbar.md-table-toolbar.alternate {
  .md-toolbar-tools {
      md-icon {
        color: $md-light;
      }
  }
}

.md-table {
  &.tb-attribute-table {
      table-layout: fixed;
      td.md-cell {
          &.tb-value-cell {
            overflow: auto;
          }
      }
  }
  .md-cell {
    ng-md-icon {
      fill: $md-edit-icon-fill;
      float: right;
      height: 16px;
    }
  }
}

.widgets-carousel {
  position: relative;
  margin: 0px;
  height: calc(100% - 100px);
  min-height: 150px !important;

  tb-dashboard {
    #gridster-parent {
      padding: 0 7px;
    }
  }
}