/**
 *
 */
.tb-audit-logs {
  background-color: #fff;
  .tb-audit-log-margin-18px {
    margin-bottom: 18px;
  }
  .tb-audit-log-toolbar {
    font-size: 20px;
  }
  md-input-container.tb-audit-log-search-input {
    .md-errors-spacer {
      min-height: 0px;
    }
  }
}

.tb-audit-log-container {
  overflow-x: auto;
}



md-list.tb-audit-log-table {
  padding: 0px;
  min-width: 700px;
  &.tb-audit-log-table-full {
    min-width: 900px;
  }

  md-list-item {
    padding: 0px;
  }

  .tb-row {
    height: 48px;
    padding: 0px;
    overflow: hidden;
  }

  .tb-row:hover {
    background-color: #EEEEEE;
  }

  .tb-header:hover {
    background: none;
  }

  .tb-header {
    .tb-cell {
      color: rgba(0,0,0,.54);
      font-size: 12px;
      font-weight: 700;
      white-space: nowrap;
      background: none;
    }
  }

  .tb-cell {
    padding: 0 24px;
    margin: auto 0;
    color: rgba(0,0,0,.87);
    font-size: 13px;
    vertical-align: middle;
    text-align: left;
    overflow: hidden;
    .md-button {
      padding: 0;
      margin: 0;
    }
  }

  .tb-cell.tb-number {
    text-align: right;
  }

}
