/**
 * Copyright © 2016-2018 dujoy.cn
 */
$previewSize: 100px;

.tb-image-select-container {
  position: relative;
  height: $previewSize;
  width: 100%;
}

.tb-image-preview {
  max-width: $previewSize;
  max-height: $previewSize;
  width: auto;
  height: auto;
}

.tb-image-preview-container {
  position: relative;
  width: $previewSize;
  height: $previewSize;
  margin-right: 12px;
  border: solid 1px;
  vertical-align: top;
  float: left;
  div {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }
  div, .tb-image-preview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.tb-image-clear-container {
  width: 48px;
  height: $previewSize;
  position: relative;
  float: right;
}
.tb-image-clear-btn {
  position: absolute !important;
  top: 50%;
  transform: translate(0%,-50%) !important;
}
