/**
 *
 */
@import '../../../scss/constants';

tb-states-component {
    min-width: 0px;
}

.entity-state-controller {
    .state-divider {
        font-size: 18px;
        padding-left: 15px;
        padding-right: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        pointer-events: none;
    }
    .state-entry {
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        outline: none;
    }
    md-select {
        margin: 0px;
        .md-text {
            font-size: 18px;
            font-weight: bold;
        }
    }
}