/**
 *
 */
.tb-rule {
  min-width: 600px;
  tb-plugin-select {
    padding: 2px;
    margin: 18px 0;
  }
}

.tb-filter {
  min-width: 500px;
  min-height: 300px;
}

.tb-filters ul[dnd-list],
.tb-filters ul[dnd-list] > li {
  position: relative;
}

.tb-filters ul[dnd-list] {
  min-height: 42px;
  padding-left: 0px;
}

.tb-filters ul[dnd-list] .dndDraggingSource {
  display: none;
}

.tb-filters ul[dnd-list] .dndPlaceholder {
  display: block;
  background-color: #ddd;
  min-height: 42px;
}

.tb-filters ul[dnd-list] li {
  display: block;
}

.tb-filters .handle {
  cursor: move;
}
