/**
 *
 */
.tb-entity-filter-view {
  .entity-filter-empty {
    color: rgba(221, 44, 0, 0.87);
    font-size: 14px;
    line-height: 16px;
  }
  .entity-filter-type {
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.570588);
  }
  .entity-filter-value {
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.570588);
  }
}