/**
 * Copyright © 2016-2018 dujoy.cn
 */
.tb-entity-subtype-autocomplete {
  .tb-entity-subtype-item {
    display: block;
    height: 48px;
  }
  li {
    height: auto !important;
    white-space: normal !important;
  }
}
