/**
 *
 */
.tb-widget {
  .tb-widget-error {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.5);
    span {
       color: red;
    }
  }
  .tb-widget-loading {
    background: rgba(255,255,255,0.15);
    z-index: 3;
  }
}
