/**
 * Copyright © 2016-2018 dujoy.cn
 */
md-toast.tb-info-toast .md-toast-content {
  font-size: 18px;
  padding: 18px;
  height: 100%;
}

md-toast.tb-success-toast .md-toast-content {
  font-size: 18px !important;
  background-color: green;
  height: 100%;
}

md-toast.tb-error-toast .md-toast-content {
  font-size: 18px !important;
  background-color: maroon;
  height: 100%;
}
