/**
 *
 */
.tb-entity-alias-autocomplete {
  .tb-not-found {
    display: block;
    line-height: 1.5;
    height: 48px;
    .tb-no-entries {
      line-height: 48px;
    }
  }
  li {
    height: auto !important;
    white-space: normal !important;
  }
}
