/**
 * Copyright © 2016-2018 dujoy.cn
 */
@import "~compass-sass-mixins/lib/animate";

.tb-uppercase {
  text-transform: uppercase;
}

.tb-card-item {
  @include transition(all .2s ease-in-out);
  md-card-content {
    padding-top: 0px;
    max-height: 53px;
  }
  md-card-title {
    width: 100%;
    md-card-title-text {
      max-height: 32px;
      min-width: 50%;
      .md-headline {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.tb-current-item {
  opacity: 0.5;
  @include transform(scale(1.05));
}

#tb-vertical-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
