<!--



-->
<div style="background: #fff;" tb-expand-fullscreen fullscreen-zindex="100" expand-button-id="expand-button" on-fullscreen-changed="onFullscreenChanged()" layout="column">
	<div layout="row" layout-align="start center" style="height: 40px;">
		<span style="font-style: italic;">function({{ functionArgsString }}) {</span>
		<span flex></span>
		<div id="expand-button" layout="column" aria-label="Fullscreen" class="md-button md-icon-button tb-md-32 tb-fullscreen-button-style"></div>
	</div>
	<div flex id="tb-javascript-panel" class="tb-js-func-panel" layout="column">
		<div flex id="tb-javascript-input"
			 ui-ace="jsEditorOptions" 
			 ng-model="functionBody">
		</div>
	</div>
	<div layout="row" layout-align="start center"  style="height: 40px;">
		<span style="font-style: italic;">}</span>
	</div>	   
</div>