/**
 * Copyright © 2016-2018 dujoy.cn
 */
@import "../../scss/mixins";

.tb-plugin-autocomplete {
  .tb-not-found {
    display: block;
    line-height: 1.5;
    height: 48px;
  }
  .tb-plugin-item {
    display: block;
    height: 48px;
    .tb-plugin-system {
      font-size: 0.8rem;
      opacity: 0.8;
      float: right;
    }
  }
  li {
    height: auto !important;
    white-space: normal !important;
  }
}
