/**
 *
 */
.tb-related-entity-autocomplete {
  .tb-not-found {
    display: block;
    line-height: 1.5;
    height: 48px;
  }
  .tb-entity-item {
    display: block;
    height: 48px;
  }
  li {
    height: auto !important;
    white-space: normal !important;
  }
}
