/**
 *
 */
.extension-form {
  li > .md-button {
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
  }
  .vAccordion--default {
    margin-top: 0;
    padding-left: 3px;
  }
  .tb-container {
    width:100%;
  }
  .dropdown-messages {
    .tb-error-message {
      padding: 5px 0 0 0;
    }
  }
  .dropdown-section {
    margin-bottom: 30px;
  }
  v-pane.inner-invalid > v-pane-header {
    border-bottom: 2px solid rgb(221,44,0);
  }
}

.extension-form.extension-mqtt {
  md-checkbox{
    margin-left: 10px;
  }
}

.tb-extension-custom-transformer-panel {
  margin-left: 15px;
  border: 1px solid #C0C0C0;
  height: 100%;
  .tb-extension-custom-transformer {
    min-width: 600px;
    min-height: 200px;
    width: 100%;
    height: 100%;
  }
  .ace_text-input {
    position:absolute!important
  }
}

.extensionDialog {
  min-width: 1000px;
}

.tb-container-for-select {
  height: 58px;
}

.tb-drop-file-input-hide {
  height: 200%;
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
}