/**
 * Copyright © 2016-2018 dujoy.cn
 */
.tb-relation-additional-info-panel {
  margin-left: 15px;
  border: 1px solid #C0C0C0;
  height: 100%;
  #tb-relation-additional-info {
    min-width: 200px;
    min-height: 200px;
    width: 100%;
    height: 100%;
  }
}
